html, body {
    height: 100%;
    width: 100%;
    min-width: 768px;
    margin: 0;
    padding: 0;
    font-family: "Lucida Sans Unicode", sans-serif;
    font-size: 14px;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

input[type="checkbox"] {
}

.e-logo {
    width: 192px;
    height: 79px;
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

.e-ribbon {
    margin-top: -123px;
    margin-left: 195px;
}

.app-version{
  position: absolute;
  right: 5px;
  bottom: 0;
  color: #fff;
}
#login-page {
    width: 100%;
    height: 100%;
    min-height: 600px;
    min-width: 600px;
    background-image: url('/Content/img/versions/v2/singapore-overview-landing.jpg');
    background-repeat: no-repeat;
    background-size: auto 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#login-form {
    width: 398px;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /*position: relative;
	top: 50%;
	transform: translateY(-50%);*/
}

#login-loader {
    text-align: center;
    display: none;
}

.login-top {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}

.login-area {
    padding: 20px 48px 20px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 8px;
    opacity: 0.95;
}

#login-input-area {
    display: inline-block;
}

.margin {
    margin-bottom: 8px;
}

.input {
    border-style: solid;
    border-width: 1px;
    height: 25px;
    width: 275px;
    font-size: 16px;
    font-family: "Lucida Sans Unicode", sans-serif;
    padding: 6px 15px 6px 9px;
}

.remember-me {
    margin-top: 10px;
}

.remember-me * {
    cursor: pointer;
    vertical-align: middle;
    padding: 10px 15px;
    width: 303px;
    border-color: #ddd;
}

.change-pw-title {
    text-align: center;
    font-size: 22px;
    color: #000;
    padding-bottom: 10px;
}

.change-pw-input {
    width: 200px;
}

#cancel-pw-btn {
    width: 100px;
    background-color: #FFFFFF;
    color: #1950aa;
    text-align: center;
    text-decoration: underline;
}

#change-pw-btn {
    width: 100px;
    text-align: center;
}

.change-pw-td {
    text-align: right;
    padding-right:;
}

#login-error ul{
    margin:5px;
}

.wrong-login {
    display: none;
    float: left;
    font-weight: bold;
    line-height: 18px;
    margin: 8px 0px;
}

.pw-reminder {
    display: none;
    margin: 10px auto 0 auto;
    text-align: center;
}

.login-button {
    width: 303px;
    height: 40px;
    font-size: 16px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.username {
    line-height: 24px;
    font-size: 15px;
    font-weight: 400;
}

.password {
    line-height: 24px;
    font-size: 15px;
    font-weight: 400;
}

.submit-area {
    padding-top: 8px;
}

.forgot-pw {
    margin: 8px 9px 0px 0px;
    text-align: right;
}

    .forgot-pw:hover {
        text-decoration: underline;
    }

#change-pw-warning {
    color: red;
    display: none;
    font-size: 12px;
}

#forgotpw-content {
    display: none;
}



.login-page-color {
    /*background: #c0d1e2 no-repeat;*/
    background: #f0f0f0;
}

.login-top-color {
    color: #555;
}

.login-area-color {
    background-color: #f7f7f7;
    border-color: rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.input {
    border-color: #ddd;
    color: #3e3e3e;
}

    .input:hover, .input:focus {
        border-color: #4787ed;
    }

.wrong-login-color {
    color: #dd4b39;
}

.pw-reminder-color {
    color: #427fed;
}

.login-button-color {
    color: #fff;
    background-color: #1950AA;
}

    .login-button-color:hover {
        background-color: #4787ed;
    }

.login-info-color {
    color: #000;
}

.forgot-pw-color {
    color: #427fed;
    cursor: pointer;
}
.terms-content{
   
    height:500px;
}
.terms {
    font-size: 13px;
    cursor: pointer;
}
.terms-hyperlink{
    color:#427fed;
    text-decoration:underline;
}
.aligntop{
    vertical-align:text-top;
}
.terms-table{
    font-size:13px;
    
}
.term-title{
    margin-top: 0px;
    margin-bottom: 10px;
}

/***CSS for AIM & Financial Dashboard***/
.analytics-img{
    width:300px;
}