 html, body {
            font-family: arial, helvetica, sans-serif;
            font-size: 14px;
            color: #000;
            height: 400px;
        }

        a:link, a:visited, a:hover, a:active {
            color: #000;
            text-decoration: none;
        }

        .ui-accordion-header {
            cursor: pointer;
            margin: 0 0 5px 0;
            padding: 10px;
            border: #1354bc 3px solid;
            border-radius: 8px;
        }

        .ui-accordion-content {
            margin: 5px 0;
            padding: 3px 3px 10px 3px;
        }

        #links {
            padding: 10px;
            background-color: #fff;
            display: none;
        }

        #accordion {
            /*margin-top: 15px;*/
        }

            #accordion table, #links table {
                width: 100%;
                text-align: center;
                border-collapse: collapse;
            }

            #accordion tr:hover {
                background-color: #ececec;
            }

            #accordion th {
                padding: 8px 0 8px 0;
                color: #fff;
                background-color: #8db4f4;
                border: #1354bc 2px solid;
                /*border-left: #edad47 2px solid;
            border-right: #edad47 2px solid;*/
            }

            #accordion td {
                padding: 5px 0 5px 0;
                border-left: #1354bc 2px solid;
                border-right: #1354bc 2px solid;
                border-bottom: #1354bc 2px solid;
            }

        .icon {
            height: 18px;
            width: 18px;
            margin-right: 10px;
        }

        .plus-icon {
            height: 18px;
            width: 18px;
            float: right;
            background: url(../css/themes/images/icons-18-black.png) no-repeat -1px -1px;
        }

        .minus-icon {
            height: 18px;
            width: 18px;
            float: right;
            background: url(../css/themes/images/icons-18-white.png) no-repeat -40px -1px;
        }

        .highlight {
            background-color: #4787ed;
        }

        .category {
            color: rgba(0, 0, 0, 0.7);
            padding: 5px 8px 7px 8px;
            background-color: #fff;
            border-radius: 10px;
            vertical-align: top;
        }